<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>selena</key>
	<dict>
		<key>onstage</key>
		<array>
			<array>
				<string>11top</string>
				<string>6</string>
				<string></string>
				<string>400</string>
			</array>
			<array>
				<string>15bottom</string>
				<string>5</string>
				<string></string>
				<string>200</string>
			</array>
			<array>
				<string>15top1</string>
				<string>11</string>
				<string></string>
				<string>200</string>
			</array>
			<array>
				<string>15top2</string>
				<string>6</string>
				<string></string>
				<string>100</string>
			</array>
			<array>
				<string>2</string>
				<string>8</string>
				<string></string>
				<string>500</string>
			</array>
			<array>
				<string>23</string>
				<string>8</string>
				<string></string>
				<string>500</string>
			</array>
			<array>
				<string>27top2</string>
				<string>8</string>
				<string></string>
				<string>500</string>
			</array>
			<array>
				<string>28bottom</string>
				<string>5</string>
				<string></string>
				<string>200</string>
			</array>
			<array>
				<string>28top1</string>
				<string>11</string>
				<string></string>
				<string>200</string>
			</array>
			<array>
				<string>28top2</string>
				<string>6</string>
				<string></string>
				<string>100</string>
			</array>
			<array>
				<string>9bottom</string>
				<string>5</string>
				<string></string>
				<string>100</string>
			</array>
			<array>
				<string>9top</string>
				<string>6</string>
				<string></string>
				<string>200</string>
			</array>
			<array>
				<string>1009</string>
				<string>11</string>
				<string></string>
				<string>250</string>
			</array>
			<array>
				<string>glasses8</string>
				<string>13</string>
				<string></string>
				<string>250</string>
			</array>
			<array>
				<string>mic5</string>
				<string>9</string>
				<string></string>
				<string>150</string>
			</array>
			<array>
				<string>ss1</string>
				<string>3</string>
				<string></string>
				<string>350</string>
			</array>
			<array>
				<string>ss1hair</string>
				<string>12</string>
				<string></string>
				<string>250</string>
			</array>
			<array>
				<string>ss2</string>
				<string>3</string>
				<string></string>
				<string>350</string>
			</array>
			<array>
				<string>ss2hair</string>
				<string>12</string>
				<string></string>
				<string>250</string>
			</array>
			<array>
				<string>ss3</string>
				<string>3</string>
				<string></string>
				<string>350</string>
			</array>
			<array>
				<string>ss3hair</string>
				<string>12</string>
				<string></string>
				<string>250</string>
			</array>
			<array>
				<string>ss4</string>
				<string>3</string>
				<string></string>
				<string>350</string>
			</array>
			<array>
				<string>ss4hair</string>
				<string>12</string>
				<string></string>
				<string>350</string>
			</array>
			<array>
				<string>ss5hair</string>
				<string>12</string>
				<string></string>
				<string>250</string>
			</array>
			<array>
				<string>ss6hair</string>
				<string>12</string>
				<string></string>
				<string>250</string>
			</array>
			<array>
				<string>ss7hair</string>
				<string>12</string>
				<string></string>
				<string>250</string>
			</array>
		</array>
		<key>outnabout</key>
		<array>
			<array>
				<string>1014</string>
				<string>8</string>
				<string></string>
				<string>1200</string>
			</array>
			<array>
				<string>12</string>
				<string>8</string>
				<string></string>
				<string>600</string>
			</array>
			<array>
				<string>13bottom</string>
				<string>5</string>
				<string></string>
				<string>75</string>
			</array>
			<array>
				<string>13top</string>
				<string>6</string>
				<string></string>
				<string>100</string>
			</array>
			<array>
				<string>14bottom</string>
				<string>5</string>
				<string></string>
				<string>250</string>
			</array>
			<array>
				<string>14top</string>
				<string>6</string>
				<string></string>
				<string>125</string>
			</array>
			<array>
				<string>16bottom</string>
				<string>5</string>
				<string></string>
				<string>200</string>
			</array>
			<array>
				<string>16top1</string>
				<string>6</string>
				<string></string>
				<string>200</string>
			</array>
			<array>
				<string>16top2</string>
				<string>6</string>
				<string></string>
				<string>75</string>
			</array>
			<array>
				<string>17bottom</string>
				<string>5</string>
				<string></string>
				<string>100</string>
			</array>
			<array>
				<string>17top</string>
				<string>6</string>
				<string></string>
				<string>150</string>
			</array>
			<array>
				<string>18bottom</string>
				<string>5</string>
				<string></string>
				<string>200</string>
			</array>
			<array>
				<string>18top</string>
				<string>6</string>
				<string></string>
				<string>200</string>
			</array>
			<array>
				<string>1bottom</string>
				<string>5</string>
				<string></string>
				<string>200</string>
			</array>
			<array>
				<string>1top1</string>
				<string>8</string>
				<string></string>
				<string>150</string>
			</array>
			<array>
				<string>1top2</string>
				<string>6</string>
				<string></string>
				<string>75</string>
			</array>
			<array>
				<string>20</string>
				<string>6</string>
				<string></string>
				<string>250</string>
			</array>
			<array>
				<string>21bottom</string>
				<string>5</string>
				<string></string>
				<string>100</string>
			</array>
			<array>
				<string>21top</string>
				<string>6</string>
				<string></string>
				<string>100</string>
			</array>
			<array>
				<string>4bottom</string>
				<string>5</string>
				<string></string>
				<string>100</string>
			</array>
			<array>
				<string>4top1</string>
				<string>6</string>
				<string></string>
				<string>200</string>
			</array>
			<array>
				<string>4top2</string>
				<string>6</string>
				<string></string>
				<string>75</string>
			</array>
			<array>
				<string>6bottom</string>
				<string>5</string>
				<string></string>
				<string>150</string>
			</array>
			<array>
				<string>6top</string>
				<string>6</string>
				<string></string>
				<string>150</string>
			</array>
			<array>
				<string>1007</string>
				<string>6</string>
				<string></string>
				<string>150</string>
			</array>
			<array>
				<string>2029</string>
				<string>6</string>
				<string></string>
				<string>475</string>
			</array>
			<array>
				<string>1008</string>
				<string>5</string>
				<string></string>
				<string>250</string>
			</array>
			<array>
				<string>2028</string>
				<string>5</string>
				<string></string>
				<string>600</string>
			</array>
			<array>
				<string>1026</string>
				<string>6</string>
				<string></string>
				<string>150</string>
			</array>
			<array>
				<string>1025</string>
				<string>5</string>
				<string></string>
				<string>250</string>
			</array>
			<array>
				<string>bag8</string>
				<string>9</string>
				<string></string>
				<string>125</string>
			</array>
			<array>
				<string>bag10</string>
				<string>9</string>
				<string></string>
				<string>125</string>
			</array>
			<array>
				<string>bag11</string>
				<string>9</string>
				<string></string>
				<string>175</string>
			</array>
			<array>
				<string>bag12</string>
				<string>9</string>
				<string></string>
				<string>150</string>
			</array>
			<array>
				<string>bag13</string>
				<string>9</string>
				<string></string>
				<string>200</string>
			</array>
			<array>
				<string>bag9</string>
				<string>9</string>
				<string></string>
				<string>250</string>
			</array>
			<array>
				<string>2026</string>
				<string>9</string>
				<string></string>
				<string>300</string>
			</array>
			<array>
				<string>glasses10</string>
				<string>13</string>
				<string></string>
				<string>150</string>
			</array>
			<array>
				<string>glasses20</string>
				<string>13</string>
				<string></string>
				<string>150</string>
			</array>
			<array>
				<string>glasses9</string>
				<string>13</string>
				<string></string>
				<string>150</string>
			</array>
			<array>
				<string>1006</string>
				<string>13</string>
				<string></string>
				<string>250</string>
			</array>
			<array>
				<string>scarf1</string>
				<string>10</string>
				<string></string>
				<string>200</string>
			</array>
			<array>
				<string>scarf2</string>
				<string>10</string>
				<string></string>
				<string>200</string>
			</array>
			<array>
				<string>so1</string>
				<string>3</string>
				<string></string>
				<string>125</string>
			</array>
			<array>
				<string>so1hair</string>
				<string>12</string>
				<string></string>
				<string>150</string>
			</array>
			<array>
				<string>so2</string>
				<string>3</string>
				<string></string>
				<string>125</string>
			</array>
			<array>
				<string>so2hair</string>
				<string>12</string>
				<string></string>
				<string>150</string>
			</array>
			<array>
				<string>so3</string>
				<string>3</string>
				<string></string>
				<string>125</string>
			</array>
			<array>
				<string>so3hair</string>
				<string>12</string>
				<string></string>
				<string>150</string>
			</array>
			<array>
				<string>so4</string>
				<string>3</string>
				<string></string>
				<string>125</string>
			</array>
			<array>
				<string>so4hair</string>
				<string>12</string>
				<string></string>
				<string>150</string>
			</array>
			<array>
				<string>so5</string>
				<string>3</string>
				<string></string>
				<string>125</string>
			</array>
			<array>
				<string>so5hair</string>
				<string>12</string>
				<string></string>
				<string>150</string>
			</array>
			<array>
				<string>so6hair</string>
				<string>12</string>
				<string></string>
				<string>150</string>
			</array>
			<array>
				<string>so7hair</string>
				<string>12</string>
				<string></string>
				<string>350</string>
			</array>
			<array>
				<string>so8hair</string>
				<string>12</string>
				<string></string>
				<string>350</string>
			</array>
		</array>
		<key>redcarpet</key>
		<array>
			<array>
				<string>10</string>
				<string>8</string>
				<string></string>
				<string>1000</string>
			</array>
			<array>
				<string>19</string>
				<string>8</string>
				<string></string>
				<string>3000</string>
			</array>
			<array>
				<string>22</string>
				<string>8</string>
				<string></string>
				<string>500</string>
			</array>
			<array>
				<string>24</string>
				<string>8</string>
				<string></string>
				<string>2000</string>
			</array>
			<array>
				<string>25</string>
				<string>8</string>
				<string></string>
				<string>2000</string>
			</array>
			<array>
				<string>26</string>
				<string>8</string>
				<string></string>
				<string>500</string>
			</array>
			<array>
				<string>3</string>
				<string>8</string>
				<string></string>
				<string>500</string>
			</array>
			<array>
				<string>5</string>
				<string>8</string>
				<string></string>
				<string>2000</string>
			</array>
			<array>
				<string>8</string>
				<string>8</string>
				<string></string>
				<string>2000</string>
			</array>
			<array>
				<string>1024</string>
				<string>8</string>
				<string></string>
				<string>2000</string>
			</array>
			<array>
				<string>bag14</string>
				<string>9</string>
				<string></string>
				<string>400</string>
			</array>
			<array>
				<string>bag15</string>
				<string>9</string>
				<string></string>
				<string>475</string>
			</array>
			<array>
				<string>necklace7</string>
				<string>10</string>
				<string></string>
				<string>1000</string>
			</array>
			<array>
				<string>sr1</string>
				<string>3</string>
				<string></string>
				<string>450</string>
			</array>
			<array>
				<string>sr1hair</string>
				<string>12</string>
				<string></string>
				<string>450</string>
			</array>
			<array>
				<string>sr2</string>
				<string>3</string>
				<string></string>
				<string>450</string>
			</array>
			<array>
				<string>sr2hair</string>
				<string>12</string>
				<string></string>
				<string>450</string>
			</array>
			<array>
				<string>sr3</string>
				<string>3</string>
				<string></string>
				<string>450</string>
			</array>
			<array>
				<string>sr3hair</string>
				<string>12</string>
				<string></string>
				<string>450</string>
			</array>
			<array>
				<string>sr4</string>
				<string>3</string>
				<string></string>
				<string>450</string>
			</array>
			<array>
				<string>sr4hair</string>
				<string>12</string>
				<string></string>
				<string>450</string>
			</array>
			<array>
				<string>sr5hair</string>
				<string>12</string>
				<string></string>
				<string>450</string>
			</array>
			<array>
				<string>sr6</string>
				<string>3</string>
				<string></string>
				<string>450</string>
			</array>
			<array>
				<string>sr6hair</string>
				<string>12</string>
				<string></string>
				<string>450</string>
			</array>
			<array>
				<string>sr7hair</string>
				<string>12</string>
				<string></string>
				<string>450</string>
			</array>
			<array>
				<string>sr8hair</string>
				<string>12</string>
				<string></string>
				<string>450</string>
			</array>
			<array>
				<string>sr9hair</string>
				<string>12</string>
				<string></string>
				<string>450</string>
			</array>
		</array>
		<key>skinColor</key>
		<array>
			<array>
				<string>skin1</string>
				<string>12</string>
				<string></string>
				<string>1000</string>
			</array>
			<array>
				<string>skin2</string>
				<string>12</string>
				<string></string>
				<string>1000</string>
			</array>
			<array>
				<string>skin3</string>
				<string>12</string>
				<string></string>
				<string>1000</string>
			</array>
		</array>
	</dict>
	<key>justin</key>
	<dict>
		<key>redcarpet</key>
		<array>
			<array>
				<string>q1</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>q2</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>q3</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>q4</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>q5</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>q6</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>q7</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>q8</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>q9</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>q10</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>q11</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>q12</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>q13</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>q14</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>q15</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>q16</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>q17</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>q18</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>q19</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>q20</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
		</array>
		<key>outnabout</key>
		<array>
			<array>
				<string>aq1</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>aq2</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>aq3</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>aq4</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>aq5</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>aq6</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>aq7</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>aq8</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>aq9</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>aq10</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>aq11</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>aq12</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>aq13</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>aq14</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>aq15</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>aq16</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>aq17</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>aq18</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>aq19</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>aq20</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
		</array>
		<key>onstage</key>
		<array>
			<array>
				<string>a1</string>
				<string>11</string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>a2</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>a3</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>a4</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>a5</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>a6</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>a7</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>a8</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>a9</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>a10</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>a11</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>a12</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>a13</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>a14</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>a15</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>a16</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>a17</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>a18</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>a19</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
			<array>
				<string>a20</string>
				<string>11</string>
				<string></string>
				<string></string>
			</array>
		</array>
	</dict>
</dict>
</plist>
