<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>http://click.linksynergy.com/fs-bin/click?id=IRnqa4K4BNk&amp;subid=&amp;offerid=146261.1&amp;type=10&amp;tmpid=5573&amp;RD_PARM1=http%3A%2F%2Fitunes.apple.com%2Fus%2Falbum%2Flove-story-pop-mix-single%2Fid300719058</string>
    <key>2</key>
    <string>http://click.linksynergy.com/fs-bin/click?id=IRnqa4K4BNk&amp;subid=&amp;offerid=146261.1&amp;type=10&amp;tmpid=5573&amp;RD_PARM1=http%3A%2F%2Fitunes.apple.com%2Fus%2Falbum%2Ffearless%2Fid295757174
    </string>
        <key>3</key>
        <string>http://click.linksynergy.com/fs-bin/click?id=IRnqa4K4BNk&amp;subid=&amp;offerid=146261.1&amp;type=10&amp;tmpid=3909&amp;RD_PARM1=http%3A%2F%2Fitunes.apple.com%2Fus%2Falbum%2Four-song%2Fid275621626%3Fi%3D275621661</string>
        <key>4</key>
        <string>http://click.linksynergy.com/fs-bin/click?id=IRnqa4K4BNk&amp;subid=&amp;offerid=146261.1&amp;type=10&amp;tmpid=3909&amp;RD_PARM1=http%3A%2F%2Fitunes.apple.com%2Fus%2Falbum%2Fwho-says%2Fid444901559%3Fi%3D444901563</string>
        <key>5</key>
        <string>http://click.linksynergy.com/fs-bin/click?id=IRnqa4K4BNk&amp;subid=&amp;offerid=146261.1&amp;type=10&amp;tmpid=3909&amp;RD_PARM1=http%3A%2F%2Fitunes.apple.com%2Fus%2Falbum%2Flove-you-like-a-love-song%2Fid444901559%3Fi%3D444901560
        </string>
        <key>6</key>
        <string>http://click.linksynergy.com/fs-bin/click?id=IRnqa4K4BNk&amp;subid=&amp;offerid=146261.1&amp;type=10&amp;tmpid=5573&amp;RD_PARM1=http%3A%2F%2Fitunes.apple.com%2Fus%2Falbum%2Fnaturally-the-remixes-ep%2Fid358605867</string>
        <key>7</key>
        <string>http://click.linksynergy.com/fs-bin/click?id=IRnqa4K4BNk&amp;subid=&amp;offerid=146261.1&amp;type=10&amp;tmpid=5573&amp;RD_PARM1=http%3A%2F%2Fitunes.apple.com%2Fus%2Falbum%2Fparty-in-the-u.s.a.-single%2Fid326042393</string>
        <key>8</key>
        <string>http://click.linksynergy.com/fs-bin/click?id=IRnqa4K4BNk&amp;subid=&amp;offerid=146261.1&amp;type=10&amp;tmpid=3909&amp;RD_PARM1=http%3A%2F%2Fitunes.apple.com%2Fus%2Falbum%2Fhoedown-throwdown%2Fid305134968%3Fi%3D305135447</string>
        <key>9</key>
        <string>http://click.linksynergy.com/fs-bin/click?id=IRnqa4K4BNk&amp;subid=&amp;offerid=146261.1&amp;type=10&amp;tmpid=3909&amp;RD_PARM1=http%3A%2F%2Fitunes.apple.com%2Fus%2Falbum%2Fthe-climb%2Fid305134968%3Fi%3D305135452</string>
        <key>10</key>
        <string>http://click.linksynergy.com/fs-bin/click?id=IRnqa4K4BNk&amp;subid=&amp;offerid=146261.1&amp;type=10&amp;tmpid=3909&amp;RD_PARM1=http%3A%2F%2Fitunes.apple.com%2Fus%2Falbum%2Fsingle-ladies-put-a-ring-on-it%2Fid296000087%3Fi%3D296000131</string>
        <key>11</key>
        <string>http://click.linksynergy.com/fs-bin/click?id=IRnqa4K4BNk&amp;subid=&amp;offerid=146261.1&amp;type=10&amp;tmpid=3909&amp;RD_PARM1=http%3A%2F%2Fitunes.apple.com%2Fus%2Falbum%2Fbest-thing-i-never-had%2Fid443245873%3Fi%3D443245892</string>
        <key>12</key>
        <string>http://click.linksynergy.com/fs-bin/click?id=IRnqa4K4BNk&amp;subid=&amp;offerid=146261.1&amp;type=10&amp;tmpid=5573&amp;RD_PARM1=http%3A%2F%2Fitunes.apple.com%2Fus%2Falbum%2Fhalo-single-remixes%2Fid311092222</string>
        <key>13</key>
        <string>http://click.linksynergy.com/fs-bin/click?id=IRnqa4K4BNk&amp;subid=&amp;offerid=146261.1&amp;type=10&amp;tmpid=3909&amp;RD_PARM1=http%3A%2F%2Fitunes.apple.com%2Fus%2Falbum%2Fe.t.%2Fid387712061%3Fi%3D387712291</string>
        <key>14</key>
        <string>http://click.linksynergy.com/fs-bin/click?id=IRnqa4K4BNk&amp;subid=&amp;offerid=146261.1&amp;type=10&amp;tmpid=3909&amp;RD_PARM1=http%3A%2F%2Fitunes.apple.com%2Fus%2Falbum%2Ffirework%2Fid385406210%3Fi%3D385406569</string>
        <key>15</key>
        <string>http://click.linksynergy.com/fs-bin/click?id=IRnqa4K4BNk&amp;subid=&amp;offerid=146261.1&amp;type=10&amp;tmpid=5573&amp;RD_PARM1=http%3A%2F%2Fitunes.apple.com%2Fus%2Falbum%2Fteenage-dream-single%2Fid383012111</string>
        <key>16</key>
        <string>http://click.linksynergy.com/fs-bin/click?id=IRnqa4K4BNk&amp;subid=&amp;offerid=146261.1&amp;type=10&amp;tmpid=3909&amp;RD_PARM1=http%3A%2F%2Fitunes.apple.com%2Fus%2Falbum%2Fsuper-bass%2Fid443207964%3Fi%3D443208126</string>
        <key>17</key>
        <string>http://click.linksynergy.com/fs-bin/click?id=IRnqa4K4BNk&amp;subid=&amp;offerid=146261.1&amp;type=10&amp;tmpid=3909&amp;RD_PARM1=http%3A%2F%2Fitunes.apple.com%2Fus%2Falbum%2Fsave-me%2Fid443207964%3Fi%3D443208101</string>
        <key>18</key>
        <string>http://click.linksynergy.com/fs-bin/click?id=IRnqa4K4BNk&amp;subid=&amp;offerid=146261.1&amp;type=10&amp;tmpid=3909&amp;RD_PARM1=http%3A%2F%2Fitunes.apple.com%2Fus%2Falbum%2Fmoment-4-life%2Fid419894179%3Fi%3D419894349</string>
</dict>
</plist>
